a {
    color: black;
    text-decoration: none;
    align-items: center;
    display: flex;
    font-size: medium;
    line-height: 30px;
    margin: 5px 0px;

    mat-icon {
        height: 30px;
        width: 30px;
        font-size: 30px;
        margin-right: 10px;
    }
}