.map-popup {
    position: relative;
    height: 300px;
    width: 300px;
    max-width: 80vw;

    p {
        font-size: medium;
    }

    .links {
        position: absolute;
        bottom: 0;
    }
}

